<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Instagram</h1>
<a href="/posts/new">➕ Create New Post</a>
<% posts.forEach(post => { %>
    <div class="container">
        <h3>@<%= post.username %></h3>
        <img src="<%= post.imageUrl %>" width="300"/>
        <p><%= post.caption %></p>
        <p>❤️ Likes: <%= post.likes %></p>
        <a href="/posts/<%= post.id %>">View</a>&nbsp;&nbsp;
        <a href="/posts/<%= post.id %>/edit">Edit</a>
        <br>
        <br>
        <form method="POST" action="/posts/<%= post.id %>?_method=DELETE">
            <button>Delete</button>
        </form>
    </div>
<% }); %>

</body>
</html>